:root {
  --color-amarillo-meli: #fff157;
  --color-azul-proyecto: #03264c;
  --color-celeste-proyecto: #1259c3;
  --color-gris-oscuro-proyecto: #666;
  --color-gris-claro-proyecto: #ebebeb;
  --color-verde-proyecto: #39b54a;
}

/* Estilos generales */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-gris-claro-proyecto);
}

h3 {
  font-size: 24px;
  margin: 20px 0px;
  color: var(--color-gris-oscuro-proyecto)
}

h4 {
  font-size: 18px;
  color: var(--color-gris-oscuro-proyecto);
}

p {
  font-size: 14px;
}

/* Estilos particulares */

/*? ================HEADER================= */


div.top-header {
  display: flex;
  /* flexbox */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* flexbox */
  padding-top: 1rem;
  padding: 1rem;
}

header div.top-header p {
  text-align: center;
  margin-top: 10px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

header {
  background-color: var(--color-amarillo-meli);
}

header div.logo {
  width: 25%;
}

header .form {
  /* flexbox */
  display: flex;
  align-items: center;
  /* flexbox */
  width: 30%;
  padding: 2px;
  font-size: 11px;
}

header nav {
  font-size: 12px;
  margin-left: 20px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header .form .input {
  background-color: white;
  border: 1px solid black;
  outline: none;
  color: #666;
  padding: 2px;
  width: 100%;
  margin-left: 1rem;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-radius: .5rem;
}

header .fa-search {
  cursor: pointer;
}

header .form .submit {
  background-color: white;
  border: 1px solid black;
  color: #666;
  width: 10%;
}

nav.navbar-options {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

nav.navbar-options ul {
  display: flex;
  gap: 1rem;
}

div.burger-menu {
  text-align: center;
  display: none;
}

div.burger-menu i {
  background-color: var(--color-celeste-proyecto);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
  transition: background-color 0.5s
}

div.burger-menu i:hover{
    background-color: var(--color-azul-proyecto)
  }

/*? ================MAIN================= */


.form-01{
    padding: 20px 15px
  }
  
  .control-formulario{
    margin-bottom: 20px;
  }
  
  .control-formulario label {
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    color:var(--color-gris-oscuro-proyecto)
  }
  
  .form-levels {
    width: 40%;
    padding: 10px 10px;
    border-radius:10px;
    border: none;
  }
  
  .form-button{
    background-color:var(--color-celeste-proyecto);
    color:white;
    font-size: 14px;
    border-radius:5px;
    border: none;
    padding: 5px 5px;
    transition: background-color 0.5s
  }

  .form-button:hover{
    background-color: var(--color-azul-proyecto)
  }
  
  .select-form {
    
    padding: 10px 10px;
    border-radius:10px;
    border: 2px solid lightgrey;
    color:var(--color-gris-oscuro-proyecto);
    font-size: 18px;
  }
  
  
  


  
/*? ================FOOTER================= */

footer {
  background-color: white;
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: 100%;
  margin: auto
}

footer .footer-container{
  max-width: 100%;
}


footer .footer-container .pagos-footer{
  padding: 15px
}
footer .footer-container .seguridad-footer{
  padding: 15px
}
footer .footer-container .envios-footer{
  padding: 15px
}


.tarjeta {
  color: var(--color-celeste-proyecto);
  font-size: 2em;
  margin-bottom: 20px;
}

.send {
  color: var(--color-celeste-proyecto);
  font-size: 2em;
  margin-bottom: 20px;
}

.security {
  color: var(--color-celeste-proyecto);
  font-size: 2em;
  margin-bottom: 20px;
}

.text1{
  font-weight: bold; 
  font-size: 16px;
  padding: 0px 15px 15px 15px;
  color: var(--color-gris-oscuro-proyecto)

}

.text2{
font-size: 14px;
color: var(--color-gris-oscuro-proyecto);
padding-bottom: 15px;
}


/*? ================COPY================= */


.copyright{
  width: 100%;
  padding: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 5px var(--color-gris-claro-proyecto);
  
  
}

.copy-text p{
  font-size:12px;
  color: #c9c9c9
}

.copy-text a{
  color: #acacac;
  text-decoration: none;
  font-weight: bold
  
}



/*? ================MEDIA================= */

@media (min-width: 361px){

  nav .lista-1, .lista-2{
    display: none;
  }

  main .detalle-prod{
      display: block;
  }

  main .producto{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      
  }

  main section div.lista-productos{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
  }
  
  main .lista-productos .producto{
      width: 45%;
  }

  .precio,
  .off{
      width: 50%;
  }
  
}

@media (min-width: 769px){

  nav .lista-1, .lista-2{
    display: block;
  }

  .burguer-menu{
    display:none;
  }

  main .lista-productos .producto{
      width: 22%;
  }
  .detalle-prod{
      display:flex;
      opacity: 0;
      transition: all 0.5s;
  }
  .detalle-prod:hover{
      opacity: 1;
  }
  main section article{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      transition: all 1s
      
  }
  main section article:hover{
      box-shadow: 0px 0px 30px rgb(100, 100, 100);
      
  }
  
  footer .footer-container {
    display: flex;
    align-items:center;
  }
  header div.top-header p {
    font-size: .8rem;
}
}


@media (max-width: 769px) {
  div.top-header {
      justify-content: center;
  }
  header div.top-header p {
      width: 100%;
  }
  header div.logo {
      width: 50%;
      margin: 0;
  }
  header .form {
      width: 50%;
  }
  nav.navbar-options {
      display: none;
  }
  div.burger-menu {
      display: block;
  }
}
