<!DOCTYPE html>
<html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>MELI</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />

            <link rel="icon" href="/images/favicon.ico">
            <link rel="stylesheet" href="/css/styles.css">
        </head>

        <body>

            <!-- HEADER -->

            <header>

                <!-- TOP HEADER -->
        
                <div class="top-header">
                    <div class="logo">
                        <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                    </div>
                    <div class="form" action="#" method="GET">
                        <div class="input">Buscar productos, marcas y más
                            <div class="icon"><i class="fa fa-search"></i></div>
                        </div>
                    </div>
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
        
                <!-- NAVBAR -->
        
                <nav class="navbar-options">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
        
                <!-- BURGUER-MENU -->
        
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </header>
            <!-- BANNER -->

            <section class="banner">
                <img src="/images/img-home-banner.jpg" alt="banner" class="banner">
            </section>

            <!-- MAIN -->

            <main>
                <section class="Ultima-visita">
                    <h3>Basado en tu última visita</h3>
                    <div class="lista-productos">
                        <article class="producto">
                            <img class="img_" src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="imagen-producto">
                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$6.770</p>
                                <p class="off">40% OFF</p>
                                <h4 class="titulo">Cafetera Moulinex</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                        </article>

                        <article class="producto">
                            <img class="img_" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="imagen-producto">
                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$230.000</p>
                                <p class="off"> 20% OFF</p>
                                <h4 class="titulo"> MacBook Pro 2019</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>

                        </article>

                        <article class="producto">
                            <img class="img_" src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung"
                                class="imagen-producto">

                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$70.500</p>
                                <p class="off">10% OFF</p>
                                <h4 class="titulo">Samsung Galaxy S5</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                        </article>

                        <article class="producto">
                            <img class="img_" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" class="imagen-producto">
                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$23.200</p>
                                <p class="off"> 5% OFF</p>
                                <h4 class="titulo"> SmartTv Samsung 43"</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>

                        </article>

                    </div>

                </section>

        

                <section class="ofertas">
                    <h3>Ofertas</h3>
                    <div class="lista-productos">
                        <article class="producto">
                            <img class="img_" src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="imagen-producto">

                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$6.770</p>
                                <p class="off">40% OFF</p>
                                <h4 class="titulo">Cafetera Moulinex</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                        </article>

                        <article class="producto">
                            <img class="img_" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="imagen-producto">

                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$230.000</p>
                                <p class="off"> 20% OFF</p>
                                <h4 class="titulo">MacBook Pro 2019</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                        </article>

                        <article class="producto">
                            <img class="img_" src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung"
                                class="imagen-producto">

                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$70.500</p>
                                <p class="off">10% OFF</p>
                                <h4 class="titulo">Samsung Galaxy S10</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p><br>
                            </div>
                        </article>

                        <article class="producto">
                            <img class="img_" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" class="imagen-producto">

                            <div class="descripcion">
                                <i class="fa-solid fa-truck truck"></i>
                                <p class="envio">Envío gratis</p>
                                <p class="precio">$23.200</p>
                                <p class="off">5% OFF</p>
                                <h4 class="titulo"> SmartTv Samsung 43"</h4>
                                <p class="detalle-prod">Lorem ipsum dolor sit amet consectetur.</p><br>
                            </div>
                        </article>
                    </div>
                </section>
            </main>




            <footer>

                <div class="footer-container">

                    <section class="pagos-footer">
                        <article class="descripcion-footer">
                            <i class="fa-solid fa-credit-card tarjeta"></i>
                            <p class="text1">Pagá con tarjeta o en efectivo</p>
                            <p class="text2">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                                puntos de pago. ¡Y siempre es seguro!</p>

                        </article>
                    </section>

                    <section class="envios-footer">
                        <article class="descripcion-footer">
                            <i class="fa-solid fa-gift send"></i>
                            <p class="text1">Envío gratis desde $ 2.500</p>
                            <p class="text2">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                                productos. Es un beneficio de Mercado Puntos.</p>
                        </article>
                    </section>

                    <section class="seguridad-footer">
                        <article class="descripcion-footer">
                            <i class="fa-solid fa-user-shield security"></i>
                            <p class="text1">Seguridad, de principio a fín</p>
                            <p class="text2">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre
                                protegid@.</p>
                        </article>
                    </section>

                </div>

                
            </footer>
            <section class="copyright">
                <article class="copy-text">
                    <p>Copyright © 1999-2020 <a href="#">MercadoLiebre </a> S.R.L.</p>
                </article>
            </section>
        </body>

    </html>